<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Kung ang nire-request ay HINDI isang totoong file
    RewriteCond %{REQUEST_FILENAME} !-f
    # At kung HINDI rin isang totoong directory
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Ipadala LAHAT ng request sa index.php
    # PERO, huwag na itong baguhin at gawing ?url=
    RewriteRule . index.php [L]
</IfModule>

<IfModule mod_security.c>
    SecFilterEngine Off
    SecFilterScanPOST Off
</IfModule>